body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#inch-calculator-icwh {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#inch-calculator-icwf {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inch-calculator-icwi {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

#inch-calculator-icwb {
    margin-left: 10px;
}